body {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 30px;
    font-style: normal;
    color: mediumaquamarine;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    background-image: url('images/space-animate-stage.png');

}

#result{

    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 33%;
    bottom: 27%;

}

#launchButton {
    font-size: 30px;
    font-weight: bold;
    width: 20%;
    border: 3px black;
    padding: 12px 28px;
    background: crimson;
    border-radius: 8px;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    height: 11%;
    overflow: auto;
    position: absolute;
    right: 36%;
    bottom: 27%;
    text-align: center;
}

#inputRockets {
    float: left;
    width: 150px;
    margin-right: 8em;
    color: whitesmoke;
    border-radius: 8px;
    font-weight: bold;
    position: absolute;
    font-size: 25px;
    right: 32.3%;
    bottom: 25%;
    text-align: center;

}

#submitButton {
    position: absolute;
    right: 38.5%;
    bottom: 10%;
    font-size: 35px;
    font-weight: bold;
    border: 3px black;
    padding: 20px 20px;
    background: crimson;
    border-radius: 8px;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    height: 11%;
    overflow: auto;
    text-align: center;
}

.landButtons {

    position: absolute;
    right: 28%;
    bottom: 27%;

}

.inner {
    display: inline-block;
    border: 3px black;
    font: bold 20px Arial;
    background-color: mediumaquamarine;
    overflow: auto;
    border-radius: 8px;
    margin-right: 18px;
    padding: 12px 28px;
}





